## 1. 数据重塑

数据重塑函数可以将单个或多个DataFrame重塑为需要的格式

### melt()

**将DataFrame从宽格式转换为长格式**

将部分列保留为标识符变量，将其他列转换为\[变量、值]的格式

参数：
- id_vars：用作标识符变量的列
- value_vars：转换为\[变量、值]格式的列

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {"Name": {0: "Adam", 1: "Bob", 2: "Ciel"},
     "Program": {0: "DS", 1: "CV", 2: "DS"},
     "Grade": {0: 10, 1: 12, 2: 11}}
)

In [3]:
df

   Name Program  Grade
0  Adam      DS     10
1   Bob      CV     12
2  Ciel      DS     11

In [4]:
pd.melt(df)
# 无标识符变量，将所有列转换为[变量、值]的格式

  variable value
0     Name  Adam
1     Name   Bob
2     Name  Ciel
3  Program    DS
4  Program    CV
5  Program    DS
6    Grade    10
7    Grade    12
8    Grade    11

In [5]:
pd.melt(df, id_vars=["Name"], value_vars=["Program"])
# 将Name列作为标识符变量列仅将Program列转换为[变量、值]的格式

   Name variable value
0  Adam  Program    DS
1   Bob  Program    CV
2  Ciel  Program    DS

In [6]:
pd.melt(df, id_vars=["Name", "Program"])
# 将多个列作为标识符变量列

   Name Program variable  value
0  Adam      DS    Grade     10
1   Bob      CV    Grade     12
2  Ciel      DS    Grade     11

### pivot()

**melt()的逆操作**

参数：
- index：作为索引的列
- columns：作为新DataFrame列名的列

In [7]:
df = pd.melt(pd.DataFrame(
    {"Name": {0: "Adam", 1: "Bob", 2: "Ciel"},
     "Program": {0: "DS", 1: "CV", 2: "DS"},
     "Grade": {0: 10, 1: 12, 2: 11}}
), id_vars=["Name"])

In [8]:
df

   Name variable value
0  Adam  Program    DS
1   Bob  Program    CV
2  Ciel  Program    DS
3  Adam    Grade    10
4   Bob    Grade    12
5  Ciel    Grade    11

In [9]:
pd.pivot(df, index=["Name"], columns=["variable"])

         value
variable Grade Program
Name
Adam        10      DS
Bob         12      CV
Ciel        11      DS