## 4. 常用函数

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test.csv')
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### idxmax()

返回最大值所在索引，idxmin同理

In [3]:
df['Age'].idxmax()

96

### nlargest

返回前几个最大的元素索引与值，nsmallest同理

In [4]:
df['Age'].nlargest(5)

96     76.0
81     67.0
179    64.0
236    64.0
305    64.0
Name: Age, dtype: float64

### clip()

对超过或低于某些值的数进行截断

In [5]:
df['Age'].clip(20, 30).head()

0    30.0
1    30.0
2    30.0
3    27.0
4    22.0
Name: Age, dtype: float64

### replace()

对某些值进行替换

In [6]:
df['Sex'].replace(['male', 'female'], ['M', 'F']).head()

0    M
1    F
2    M
3    M
4    F
Name: Sex, dtype: object