In [1]:
import pandas as pd

### 测试1

请将以下两个DataFrame中的数据转换为以Name为索引，Subject为列名的格式（删除多余的数据）

In [2]:
df1 = pd.DataFrame(
    {"Name": ["Eden", "Eden", "Eden", "Faye", "Faye", "Faye", "Gary", "Gary"],
     "Subject": ["BIO", "CHEM", "ENG", "ENG", "MAT", "PHY", "ENG", "PSY"],
     "Score": [90, 78, 96, 97, 87, 96, 86, 79]}
)

df2 = pd.DataFrame(
    {"Name": ["Hank", "Hank", "Ibuki", "Ibuki", "Jack", "Jack"],
     "Grade": [12, 12, 10, 10, 11, 11],
     "Subject": ["CHEM", "MAT", "ENG", "PSY", "MAT", "PHY"],
     "Score": [67, 53, 86, 89, 96, 89]}
)

In [3]:
df1

   Name Subject  Score
0  Eden     BIO     90
1  Eden    CHEM     78
2  Eden     ENG     96
3  Faye     ENG     97
4  Faye     MAT     87
5  Faye     PHY     96
6  Gary     ENG     86
7  Gary     PSY     79

In [4]:
df2

    Name  Grade Subject  Score
0   Hank     12    CHEM     67
1   Hank     12     MAT     53
2  Ibuki     10     ENG     86
3  Ibuki     10     PSY     89
4   Jack     11     MAT     96
5   Jack     11     PHY     89

In [5]:
# 请在此填入答案